<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
    <head>
        {% load staticfiles %}
        <img id="logo" src="{% static "Header.png" %}" alt="Logo"/><br>
        <a href="/advertisement/home">Home</a>
        <a href="/advertisement/search">Search</a>
        <a href="/advertisement/add">Add</a>
        
        <title>AutoAds.py</title>
    </head>
    {% load url from future %}
    <img id="logo" src="Header.png" alt="Header"/>
    {% if latest_car_list %}
        <ul>
        {% for car in latest_car_list %}
            <div>
            <h3><li><a href="{% url 'advertisement:detail' car.id %}">{{car}}</a></li></h3>
            {%if car.photo_file_1%}
                <img class="Photo 1" src="{{ car.photo_file_1.url }}"  width="100px" />
            </div>
            {% endif %}
        {% endfor %}
            
        </ul>
    {% else %}
        <p> No cars are available. </p>
    {% endif %}
</html>